.container {
    width: 100%;
    padding: 1.5rem 7rem; 
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 100px;
    line-height: 47px;
}
.title::before,
    .title::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: black;
    }
    .title::before {
        top: -5px; 
        left: 0;
    }
    .title::after {
        bottom: -5px; 
        right: 0;
    }
.text {
    color: #989898;
}
.text1 {
    text-align: center;
}
.rectanglesBox {
    display: flex;
    gap: 10px;
}
.rectangleWomen {
    width: 100px;
    height: 40px;
    &:nth-child(1) {
        background-color: red;
    }
      
    &:nth-child(2) {
        background-color: green;
    }
      
    &:nth-child(3) {
        background-color: blue;
    }
}
.rectangleMen {
    width: 100px;
    height: 40px;
    &:nth-child(1) {
        background-color: red;
    }
      
    &:nth-child(2) {
        background-color: green;
    }
      
    &:nth-child(3) {
        background-color: blue;
    }
}
.phoneNumber {
    text-decoration: none;
    color: black;
    font-size: 32px;
}